.container{width: 100%;}
.contWrap90per{width: 90%;margin: 0 auto;}
.contWrap1200{width: 1200px;margin: 0 auto;}
.contWrap1300{width: 1300px;margin: 0 auto;}
[class*="__inner--common"]{width: 90%;margin: 0 auto;}